#parse("layouts/header.html")

<!-- slide module begins -->
<div class="fh5co-slider">
    <div class="owl-carousel owl-carousel-fullwidth">
        <div class="item" style="background-image:url(${rc.contextPath}/static/images/slide_1.jpg)">
            <div class="fh5co-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text text-center to-animate">
                                <h1 class="fh5co-lead">热门问卷</h1>
                                <h2 class="fh5co-sub-lead"> 查看当前热门问卷，把握热门需求！ </h2>
                                <br/>
                                <a href="${rc.contextPath}/public/topQuestionnaire" class="btn btn-primary btn-lg">查看问卷</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(${rc.contextPath}/static/images/slide_2.jpg)">
            <div class="fh5co-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text text-center to-animate">
                                <h1 class="fh5co-lead">我的问卷</h1>
                                <h2 class="fh5co-sub-lead"> 轻松管理您的专属问卷，获取详尽的统计信息，助您迅速获取所需信息！ </h2>
                                <br/>
                                <a href="${rc.contextPath}/private/myQuestionnaire" class="btn btn-primary btn-lg">查看问卷</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image:url(${rc.contextPath}/static/images/slide_3.jpg)">
            <div class="fh5co-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text text-center to-animate">
                                <h1 class="fh5co-lead">创建问卷</h1>
                                <h2 class="fh5co-sub-lead">在线创建、编辑问卷，轻松编辑满足您的需求的定制问卷，助您便捷完成目标，多渠道迅速发布问卷，实时回收问卷，轻松完成目标！</h2>
                                <br/>
                                <a href="#modal-questionnaire-creation" data-toggle="modal" class="btn btn-primary btn-lg">
                                		创建问卷</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slide module ends -->


<footer id="fh5co-footer">
    
    <div class="container">
        <div class="row fh5co-row-padded fh5co-copyright">
            <div class="col-md-5">
                <p><small>&copy; cuit questionnaire management system by Li Xin. All Rights Reserved.  </small></p>
            </div>
        </div>
    </div>

</footer>